@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  background: #0d0d0d;
  /* Fondo oscuro para ambiente inmersivo */
  color: #e6e6e6;
  /* Texto claro para contraste */
  font-family: 'Orbitron', sans-serif;
  /* Fuente futurista */
}

/* Contenedores principales */
.container {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 2px solid rgba(0, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}



/* Botones primarios */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #cc2b5e, #753a88);
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #753a88, #cc2b5e);
  transform: translateY(-3px);
}

/* Campos de entrada */
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: rgba(132, 17, 17, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.input-field:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #00ffff;
  outline: none;
}

/* Títulos */
h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  color: #ffde00;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* Imágenes destacadas */
.img-container {
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 255, 255, 0.2);
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.img-container:hover img {
  transform: scale(1.1);
}

/* Links */
a {
  color: #00ffff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ffde00;
}

/* Footer */
footer {
  background: #1a1a1a;
  border-top: 2px solid #ffde00;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #e6e6e6;
}

footer a {
  color: #00ffff;
}

footer a:hover {
  color: #ffde00;
}